@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

html{
    background-color: #333;
}

header{
    padding-top: 0;
    padding-bottom: 3%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: -1%;
    padding: 1%;
    overflow: hidden;
    background-color: #333;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    transition: 1s;    
}

.footer {
    background-color: #333;
    color: white;
}

footer {
    position: absolute;
    background-color: gray;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height:0;
    margin: auto;
}
