main{
  padding:1%;
}
.container{
  padding-bottom: 5%;
  height: 500px;
}
.first-block-header{
  text-align: center;
}
.second-block-header{
  text-align: center;
}
.second-block-content{
  height: 100%;
}
.left-part{
  float: left;
  color: white;
  max-height: 1000px;
  height: 100%;
  max-width: 1000px;
  width: 45%;
}
.right-part{
  float: right;
  color: white;
  height: 100%;
  max-width: 1000px;
  width: 50%;
}
