<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/main.css">
        
    <title>Головна</title>
  </head>
  <header>
  	<ul>
	  <li><a href="main.html">Головна</a></li>
	  <li><a href="information.html">Інформація по темі</a></li>
	  <li><a href="history.html">Історична Довідка</a></li>
	  <li><a href="facts.html">Цікаві факти</a></li>
	  <li><a href="about.html">Про Нас</a></li>
	</ul>
  </header>
  <main>
    <div class="epigraph"><i>«Якщо щось працює - то не чіпай це»</i></div>


    <div class="banner-image">
      <div class="banner-text">
        <h1>Історія розвитку IT в Україні</h1>
        <p>Пишаємось, що українське</p>
      </div>
    </div>


    <div class="sinopsis">

      <p>Тут ви дізнаєтесь як розвивались ІТ-технології в Україні</p>
      <p><img src="../img/sinopsis.gif"></p>

    </div>

  </main>
  <footer>
    <div class="footer">
      <p>© Всі права захищено</p>
      <p>Юра Остапович</p>

    </div>
  </footer>
</html>
